*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background: #121212;
    color: #ffffff;
    font-family: sans-serif;
}

section{
    width: 100%;
    padding: 0 15vw;
}

.card{
    margin: 20px;
    width: 250px;
    height: 150px;
    background: #202020;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
